.ci_version: &ci_version v1.13.8
include:
  - project: 'nielsen-media/maf/ci-cd/gitlab-ci-common'
    ref: *ci_version
    file:
      - '/Jobs/v2/stages/sast.yml'
      - '/Jobs/v2/stages/helperScripts.yml'
      - '/Jobs/v2/stages/base.yml'
      - '/Jobs/v2/stages/initPipeline.yml'
      - '/Jobs/v2/stages/bumpVersionmaf.yml'
      - '/Jobs/v2/stages/deployManifest.yml'
      - '/Jobs/v2/stages/binaryPublish.yml'
      - '/Jobs/v2/stages/deployFrontend/base.yml'
      - '/Jobs/v2/stages/deployFrontend/defaultBranch.yml'
      - '/Jobs/v2/stages/preBuildTests.yml'
    rules:
      - if: $ENV == null
  - project: 'nielsen-media/maf/ci-cd/gitlab-ci-common'
    ref: *ci_version
    file:
        - '/Jobs/v2/stages/helperScripts.yml'
        - '/Jobs/v2/stages/base.yml'
        - '/Jobs/v2/stages/initPipeline.yml'
        - '/Jobs/v2/stages/deployManifest.yml'
        - '/Jobs/v2/stages/deployFrontend/base.yml'
        - '/Jobs/v2/stages/deployFrontend/manual.yml'
    rules:
        - if: $ENV
  - project: 'nielsen-media/me/planning/infra/gitlab-ci-tools'
    ref: 4.10.1
    file:
      - '/gitlab-templates/ecr/template.yml'

variables:
  PACKAGE_MANAGER: "yarn"
  CI_REPO_BRANCH: *ci_version
  INSTALL_MODULES: 'true'

  ENV:
    value: alpha
    options:
      - alpha
      - prod
    description: The environment to be deployed. alpha or prod ?
  DEPLOY_TYPE:
    value: assets
    options:
      - assets
      - manifest
    description: The configuration to be deployed. assets or manifest?
  VERSION:
    value: '2.0.1'
    description: Version of your frontend app

  ##================== *** initPipeline *** ================##
  USE_GITLAB_PACKAGE_REGISTRY: 'true'
  PACKAGE_MANGER: yarn
  ##================== *** END initPipeline END *** ================##

  ##================== *** binaryPublish *** ================##
  BUILD_PACKAGE_PATH: build
  BUILD_PACKAGE_COMMAND: build:prod
  ##================== *** END binaryPublish *** ================##

  ##================== *** deployManifest *** ================##
  APPLICATION_NAME: usremoterecqa
  MAF_MANIFEST_PATH: ./apps/usremoterecqa/usremoterecqa.json
  ##================== *** END deployManifest END *** ================##

  ##================== *** deployFrontend *** ================##
  NEXUS_MAVEN_REPO: panel-recruitment-quality-frontend
  NEXUS_APP_NAME: usremoterecqa
  ##================== *** END deployFrontend END *** ================##

  BUMP_VERSION_TYPE: 'semantic'
  GITLAB_REGISTRY_DEPLOY: 'true'
  PRE_PUBLISH_COMMANDS: build:prod
  PRE_BUILD_COMMANDS: build:prod
  PUBLISH_PRE_RELEASE: 'false'
  USE_LINTER: 'true'
  LINTER_COMMAND: lint
  SERVICE_NAME: 'maf-starter-fe'
  SCRIPTS_DIR: .
  PACKAGE_DIR: "."
  CI_NODE_VERSION: 22.12.0

workflow:
  rules:
    - if: '$ENV == "alpha"'
      variables:
        MAF_APP_TOKEN: $MAF_APP_TOKEN_ALPHA
        MAF_API_TOKEN: $MAF_API_TOKEN_ALPHA
        
    - if: '$ENV == "prod"'
      variables:
        MAF_APP_TOKEN: $MAF_APP_TOKEN_PROD
        MAF_API_TOKEN: $MAF_API_TOKEN_PROD

stages:
  - build
  - mafInit
  - test
  - mafPreBuildTest
  - mafBumpVersion
  - mafBinaryPublish
  - mafDeploymentManifest
  - mafDeployFrontend
  - mafPreReleaseVersion

#============== for debugging =============#
# before_script:
#   - echo $ENV
#   - echo $APPLICATION_NAME
#   - echo $DEPLOY_TYPE
#   - echo $VERSION
#   - echo $CI_PIPELINE_IID
#   - echo $CI_COMMIT_REF_SLUG
#   - echo $CI_COMMIT_REF_NAME
#   - echo $CI_COMMIT_BRANCH
#   - echo $CI_DEFAULT_BRANCH
#   - echo $CI_PIPELINE_SOURCE
#   - echo $CI_MERGE_REQUEST_ID
#   - echo $CI_PROJECT_DIR
#   - echo $CI_PROJECT_PATH
#   - echo $CI_NODE_VERSION
#   - echo $PACKAGE_DIR
#   - echo $PACKAGE_MANAGER
#   - echo $MAF_APP_TOKEN
#   - echo $MAF_API_TOKEN
