engine-strict=true
always-auth=true
//registry.npmjs.org/:_authToken=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
//registry.npmjs.org/
@nielsen-media:registry=https://gitlab.com/api/v4/projects/23296024/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-d9R_AeKMYTzkeiDhxxuM
//gitlab.com/api/v4/projects/23296024/packages/npm/:_authToken=glpat-d9R_AeKMYTzkeiDhxxuM
//gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/projects/23296024/packages/npm/
registry=https://registry.npmjs.org/
